// Colors
$green: #86BA86;
$darkgreen: #518F51;
$brown: #77472F;
$white: #ffffff;
$offwhite: #f1f4f5;
$darkgrey: #222222;
$lightgrey: #e5ecef;

// Texts
$primary-text: $darkgrey;
$secondary-text: $white;

// Backgrounds
$primary-bg: $white;
