
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Condiment');

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Variables
@import "variables";
@import "nav";
@import "footer";
@import "welcome";
@import "connect";

html,
body {
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

.nlnv {
  &-container {
    position: relative;
    width: calc(100% - 100px);
    margin-left: 100px;
    top: -50px;
    opacity: 0;
    overflow: hidden;
    transition-delay: 0.5s;
    transition-timing-function: ease;
    transition: 0.5s all;
    &--full {
      position: relative;
      width: 100%;
      height: 100vh;
    }
    &:before,
    &:after {
      content: " ";
      display: table;
    }
  }
}

body.loaded {
  .nlnv-container {
    top: 0;
    opacity: 1;
  }
}

.card {
  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &-title {
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    &--secondary {
      background-color: $brown;
    }
    h2 {
      display: inline-block;
      font-size: 4rem;
      font-weight: 600;
      color: $primary-text;
      margin: 0;
      line-height: 1;
    }
  }
  &-btn {
    background-color: $darkgreen;
    color: $secondary-text;
    display: inline-block;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 5px;
    transition: 0.3s all;
    margin-top: 1rem;
    width: 50%;
    text-transform: uppercase;
    box-sizing: border-box;
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: $secondary-text;
      background-color: darken($darkgreen, 5%);
    }
    &-wrapper {
      display: flex;
    }
    &:first-child {
      margin-right: 1rem;
    }
  }
}

.divider {
  width: 78px;
  height: 4px;
  background: $brown;
  clear: both;
  margin: 2rem auto 2rem;
  outline: 0;
  border: 0;
  position: relative;
  &--green {
    background: $green;
  }
  &--darkgreen {
    background: $darkgreen;
  }
}

.accent--light {
  color: $green;
}

.accent--dark {
  color: $darkgreen;
}

.alert {
  ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
  }
}

#flash-message {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
